.element {
    --spacing: var(--dui-spacing-medium);
    display: flex;
    gap: var(--spacing);

    &.fit-content {
        width: fit-content;
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}
