.text-output {
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-super-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small));

    >.label {
        padding: var(--dui-spacing-super-small) var(--dui-spacing-extra-small);
        color: var(--dui-color-text-label);
    }

    >.value {
        padding: var(--dui-spacing-super-small) var(--dui-spacing-extra-small);
        font-weight: var(--dui-font-weight-bold);

        /* Useful for nested text outputs */
        .text-output {
            margin: 0 calc(-1 * var(--dui-spacing-medium));
            padding-top: 0;
            padding-bottom: 0;
            font-weight: var(--dui-font-weight-medium);
        }
    }

    >.description {
        padding: 0 var(--dui-spacing-extra-small);
        color: var(--dui-color-text-description);
        font-size: var(--dui-font-size-small);
    }

    &.with-label-colon {
        >.label {
            &:after {
                content: ':';
            }
        }
    }

    &.inline {
        display: flex;
        align-items: center;
    }
}
