.dropdown-menu-item {
    --spacing: var(--dui-spacing-medium);

    display: flex;
    padding: calc(var(--spacing) / 2) var(--spacing);
    width: 100%;
    text-decoration: none;
    color: inherit;
    gap: var(--spacing);

    &:hover {
        background-color: var(--dui-color-background-hover);
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}

.separator {
    margin: var(--dui-spacing-extra-small) 0;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    border-bottom: none;
}
