.check-list-input {
    --spacing: var(--dui-spacing-small);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .check-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
    }

    &.vertical {
        .check-list-container {
            flex-direction: column;
        }
    }

    &.horizontal {
        .check-list-container {
            flex-direction: row;
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}
