{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript",
    ],
    "plugins": [
        // Reuse babel's injected headers
        // ["@babel/plugin-transform-runtime", { "version": "^7.11.2" }],

        // Handle absolute imports
        ["polyfill-corejs3", {
            "method": "usage-pure",
        }],

        // Handle absolute imports
        ["babel-plugin-module-resolver", {
            "root": ["."],
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "alias": {
                "#components": "./src/components",
                "#hooks": "./src/hooks",
                "#utils": "./src/utils",
            },
        }],

        // Extends javascript support
        "@babel/plugin-syntax-dynamic-import",

        // Extends react support
        "@babel/plugin-transform-react-constant-elements",
        // "@babel/plugin-transform-react-inline-elements",
    ]
}
