.key-figure {
    --spacing: var(--dui-spacing-medium);

    border-radius: var(--dui-radius-border-medium);
    background-color: var(--dui-color-surface-information);
    padding: var(--spacing);
    gap: var(--dui-spacing-small);

    .value {
        color: var(--dui-color-accent);
        font-size: var(--dui-font-size-super-large);
        font-weight: var(--dui-font-weight-bold);

        &.small {
            font-size: var(--dui-font-size-extra-large);
        }
    }

    .description {
        color: var(--dui-color-accent);
        font-size: var(--dui-font-size-large);
        font-weight: var(--dui-font-weight-bold);

        &.small {
            font-size: var(--dui-font-size-medium);
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}
