.button {
    --color-border: transparent;
    --color-text: transparent;
    --color-background: transparent;
    --font-size: var(--dui-font-size-medium);
    --border-radius: calc(var(--font-size) + var(--dui-spacing-medium));
    --text-transform: none;
    --cursor: default;
    --spacing: var(--dui-spacing-medium);
    --padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);

    display: flex;
    position: relative;
    align-items: center;
    border: var(--dui-width-separator-thin) solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    cursor: var(--cursor);
    padding: var(--padding);
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-transform: var(--text-transform);
    color: var(--color-text);
    font-family: inherit;
    font-size: var(--font-size);
    font-weight: var(--dui-font-weight-bold);
    gap: var(--spacing);


    &.ellipsize {
        .children {
            overflow: auto;
        }
    }

    &.primary {
        --text-transform: uppercase;
        --color-border: var(--dui-color-background-primary-button);
        --color-background: var(--dui-color-background-primary-button);
        --color-text: var(--dui-color-text-primary-button);

        &:not(:disabled) {
            &:hover {
                --color-border: var(--dui-color-background-hover-primary-button);
                --color-background: var(--dui-color-background-hover-primary-button);
            }
        }
    }

    &.secondary {
        --text-transform: uppercase;
        --color-border: transparent;
        --color-background: var(--dui-color-background-information);
        --color-text: var(--dui-color-accent);

        &:not(:disabled) {
            &:hover {
                --color-border: transparent;
                --color-background: var(--dui-color-background-negative);
            }
        }
    }

    &.tertiary {
        --color-background: var(--dui-color-foreground);
        --color-text: var(--dui-color-accent);
        --color-border: var(--dui-color-accent);

        &:disabled {
            --color-border: var(--dui-color-text-disabled);
            --color-text: var(--dui-color-text);
        }

        &:not(:disabled) {
            &:hover {
                --color-background: var(--dui-color-background-negative);
            }
        }
    }

    &.general {
        --color-background: var(--dui-color-background-information);
        --color-text: var(--dui-color-text);
        --color-border: var(--dui-color-separator);

        &:disabled {
            --color-border: var(--dui-color-text-disabled);
            --color-text: var(--dui-color-text);
        }

        &:not(:disabled) {
            &:hover {
                --color-background: var(--dui-color-background-negative);
            }
        }
    }

    &.nlp {
        --text-transform: uppercase;
        --color-background: var(--dui-color-nlp);
        --color-text: var(--dui-color-text-primary-button);
        --color-border: var(--dui-color-nlp);

        &:not(:disabled) {
            &:hover {
                --color-background: var(--dui-color-nlp-hover);
                --color-text: var(--dui-color-text-primary-button);
                --color-border: var(--dui-color-nlp);
            }
        }
    }

    &.surface {
        --color-background: var(--dui-color-surface-information);
        --color-text: var(--dui-color-text);

        &:not(:disabled) {
            &:hover {
                --color-border: transparent;
                --color-background: var(--dui-color-surface-information-hover);
            }
        }
    }


    &.action {
        --padding: 0;
        --color-border: transparent;
        --color-background: transparent;
        --color-text: inherit;
        --border-radius: 0;
        border: none;

        .icons,
        .children,
        .actions {
            font-size: calc(1em + calc(var(--spacing) / 2));
        }
    }

    &.transparent {
        --padding: calc(var(--spacing) / 2) var(--spacing);
        --color-border: transparent;
        --color-background: transparent;
        --color-text: inherit;
        --border-radius: 0;
        border: none;
    }

    &.big {
        --font-size: var(--dui-font-size-large);

        &.action {
            .icons,
            .children,
            .actions {
                font-size: 1.4em;
            }
        }
    }

    &:disabled {
        --cursor: not-allowed;
        opacity: var(--dui-opacity-disabled-element);
        filter: saturate(var(--dui-saturation-disabled-element));
    }

    &:not(&.read-only) {
        &:not(:disabled) {
            --cursor: pointer;
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }

    .ellipsize-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
