.expandable-container {
    background-color: var(--dui-color-foreground);
    --spacing: var(--dui-spacing-medium);

    .header {
        margin: calc(var(--spacing) * -1);
        background-color: var(--dui-color-background-information);
        padding: var(--spacing);

        .heading-container {
            .heading {
                color: var(--dui-color-accent);
            }
        }

        .icon {
            color: var(--dui-color-accent);
            font-size: 1.2em;
        }

        &.clickable-header {
            cursor: pointer;
        }
    }

    &.expanded {
        .header {
            margin-bottom: 0;
        }
    }

    &.without-external-padding {
        .header {
            margin: 0;
        }
    }

    &.with-border {
        border: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    }

    .content {
        &.hidden {
            display: none;
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}

