.icons {
    flex-shrink: 0;
}

.children {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
}

.actions {
    flex-shrink: 0;
}
