.table-view {
    position: relative;
    z-index: 0;

    .overflow-container {
        overflow: auto;
    }

    &.empty {
        &.pending {
            min-height: 6em;
        }
    }

    .table {
        width: 100%;
    }
}
