.dummy {
    pointer-events: none;
    display: none;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1111;
    animation: appear var(--dui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--dui-duration-delay-long);
    pointer-events: none;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}
