.container {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-background);
    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small)) calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
    overflow: auto;

    .header {
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
        padding: var(--dui-spacing-small) var(--dui-spacing-medium);
        overflow: auto;
    }

    .footer {
        flex-shrink: 0;
    }

    &.sub {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small)) 0;
    }

    &.horizontally-compact-content {
        >.content {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.auto-focused {
        animation: get-focus var(--dui-duration-transition-long) ease-in;
        animation-iteration-count: 3;
    }
}

@keyframes get-focus {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
