.draggable-content {
    display: flex;
    align-items: flex-start;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small));

    .icons {
        display: flex;
        flex-direction: column;
    }

    .actions {
        display: flex;
        flex-direction: column;

        .drag-container {
            cursor: move;
        }
    }
}
