.draggable-content {
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small));

    .drag-container {
        cursor: move;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
