.radio {
    --cursor: default;
    --spacing: var(--dui-spacing-small);

    display: flex;
    align-items: center;
    cursor: var(--cursor);
    gap: var(--spacing);

    .icon {
        font-size: 1.2em;
    }

    .input {
        display: none;
    }

    &.active {
        .icon {
            color: var(--dui-color-accent);
        }
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &:not(.disabled) {
        &:not(.read-only) {
            --cursor: pointer;
        }
    }
}
