.icon {
    display: flex;
    align-items: center;
}

.label-container {
    flex-grow: 1;
    overflow: auto;

    .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
