.input-container {
    display: flex;

    .input {
        --color: var(--dui-color-text);
        color: var(--color);

        &.errored {
            --color: var(--dui-color-negative);
        }

        &.dark {
            &.errored {
                --color: var(--dui-color-negative-on-dark);
            }
        }

        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }

    .separator {
        padding: 0 var(--dui-spacing-small);
    }

    .start-date-input {
        flex-shrink: 0;
        width: auto;
    }

    .end-date-input {
        flex-grow: 1;
    }
}

.calendar-popup {
    height: 25rem;

    .popup-content {
        display: flex;
        max-width: unset!important;
        max-height: unset!important;

        .calendar {
            --padding: var(--dui-spacing-medium);
            width: calc(var(--dui-width-calendar-date) * 7 + 2 * var(--padding));
            height: 100%;
        }

        .predefined-options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

            .option {
                padding: var(--dui-spacing-small);
                width: 100%;
                text-align: right;

                &:hover {
                    background-color: var(--dui-color-background-information);
                }
            }
        }
    }
}

.calendar-date {
    &.start-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--dui-color-accent);
        color: var(--dui-color-text-on-accent);
    }

    &.end-date {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--dui-color-accent);
        color: var(--dui-color-text-on-accent);
    }

    &.in-between {
        border-radius: 0;
        background-color: var(--dui-color-surface-information);
    }
}
