.container {
    .header {
        align-content: center;

        .heading-container {
            align-items: center;
        }

        .header-actions {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex-grow: 1;
            justify-content: space-between;

            .tab-list {
                align-self: stretch;

                .tab {
                    align-self: stretch;
                }
            }

            .actions {
                display: flex;
                gap: var(--dui-spacing-medium);
            }
        }
    }

    .content {
        padding: var(--dui-spacing-medium);
        padding-top: 0;
    }
}
