.input {
    --color: var(--dui-color-text);
    color: var(--color);

    &.errored {
        --color: var(--dui-color-negative);
    }

    &.dark {
        &.errored {
            --color: var(--dui-color-negative-on-dark);
        }
    }
}

.suggestions {
    display: flex;
    margin-top: var(--dui-spacing-medium);
    gap: var(--dui-spacing-medium);
}
