.heading {
    margin: 0;
    color: var(--dui-color-black);
    font-weight: var(--dui-font-weight-bold);

    &.extra-large {
        font-size: var(--dui-font-size-heading-extra-large);
    }

    &.large {
        text-transform: uppercase;
        font-size: var(--dui-font-size-heading-large);
    }

    &.medium {
        text-transform: uppercase;
        color: var(--dui-color-brand);
        font-size: var(--dui-font-size-heading-medium);
    }

    &.small {
        font-size: var(--dui-font-size-heading-small);
    }

    &.extra-small {
        font-size: var(--dui-font-size-heading-extra-small);
    }
}
