.heading {
    --color: var(--dui-color-black);

    margin: 0;
    color: var(--color);
    font-weight: var(--dui-font-weight-bold);

    &.extra-large {
        font-size: var(--dui-font-size-heading-extra-large);
    }

    &.large {
        text-transform: uppercase;
        font-size: var(--dui-font-size-heading-large);
    }

    &.medium {
        --color: var(--dui-color-brand);
        text-transform: uppercase;
        font-size: var(--dui-font-size-heading-medium);
    }

    &.small {
        font-size: var(--dui-font-size-heading-small);
    }

    &.extra-small {
        font-size: var(--dui-font-size-heading-extra-small);
    }

    &.brand {
        --color: var(--dui-color-brand);
    }

    &.accent {
        --color: var(--dui-color-accent);
    }

    &.default {
        --color: var(--dui-color-black);
    }
}
