.modal {
    --spacing: var(--dui-spacing-medium);

    display: flex;
    flex-direction: column;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    border-radius: var(--dui-border-radius-modal);
    background-color: var(--dui-color-background-modal);
    padding: var(--spacing);
    min-width: var(--dui-width-min-modal);
    max-width: var(--dui-width-max-modal);
    max-height: var(--dui-height-max-modal);
    gap: var(--spacing);
    overflow: auto;

    .modal-header {
        flex-shrink: 0;
    }

    .modal-body {
        flex-grow: 1;
        overflow: auto;
    }

    .modal-footer {
        flex-shrink: 0;
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }

    &.extra-small-size {
        width: var(--dui-width-modal-extra-small);
        height: var(--dui-height-modal-extra-small);
    }

    &.small-size {
        width: var(--dui-width-modal-small);
        height: var(--dui-height-modal-small);
    }

    &.medium-size {
        width: var(--dui-width-modal-medium);
        height: var(--dui-height-modal-medium);
    }

    &.large-size {
        width: var(--dui-width-modal-large);
        height: var(--dui-height-modal-large);
    }

    &.cover-size {
        width: var(--dui-width-modal-cover);
        height: var(--dui-height-modal-cover);
    }

    &.free-height {
        height: auto;
    }
}
