.header-cell {
    display: flex;
    flex-direction: column;
    border-right: var(--dui-width-separator-thin) solid transparent;
    border-left: var(--dui-width-separator-thin) solid transparent;

    &.dragging {
        opacity: 0.5;
    }

    &.dropping {
        border-left: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    }

    &.dropping-behind {
        border-right: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    }

    .title-container {
        display: flex;
        align-items: center;
        padding: 0 calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small));

        .title {
            flex-grow: 1;
            padding: 0 var(--dui-spacing-extra-small);
            text-align: left;
        }

        .hide-button {
            flex-shrink: 0;
            visibility: hidden;
        }

        .grip {
            flex-shrink: 0;
            visibility: hidden;
            margin-left: var(--dui-spacing-extra-small);
            cursor: move;
        }
    }

    &:hover {
        .title-container {
            .hide-button {
                visibility: visible;
            }
            .grip {
                visibility: visible;
            }
        }
    }

    .filter-container {
        display: flex;
        padding: var(--dui-spacing-extra-small);

        >:not(:last-child) {
            margin-right: var(--dui-spacing-extra-small);
        }

        .text-input,
        .number-input {
            .icon {
                color: var(--dui-color-text-label-light);
                font-size: var(--font-size-extra-small);
            }

            .raw-input-container {
                background-color: var(--dui-color-foreground);
            }
        }

        .number-input {
            .raw-input-container {
                width: 108px;
            }
        }

    }
}
