.generic-select-option {
    display: flex;
    align-items: center;
    padding: var(--dui-spacing-small) var(--dui-spacing-medium);
    text-align: left;
    gap: var(--dui-spacing-medium);

    &.focused {
        background-color: var(--dui-color-background-hover-light);
    }

    &.read-only {
        background-color: transparent;
        pointer-events: none;
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        pointer-events: none;
    }
}
