.generic-select-option {
    padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
    text-align: left;

    &.focused {
        background-color: var(--dui-color-background-hover-light);
    }
}
