.generic-select-option {
    display: flex;
    align-items: center;
    padding: var(--dui-spacing-small) var(--dui-spacing-medium);
    text-align: left;
    gap: var(--dui-spacing-medium);

    &.focused {
        background-color: var(--dui-color-background-hover-light);
    }
}
