.switch-icon {
    --gap: .05em;
    --border-width: var(--dui-width-separator-thin);
    --knob-diameter: calc(1em - 2 * var(--gap) - 2 * var(--border-width));
    --background-color: var(--dui-color-background-switch-icon);
    --border-color: var(--dui-color-separator);
    --knob-color: var(--dui-color-background-switch-knob);

    display: flex;
    align-items: center;
    transition: var(--dui-duration-transition-medium) background-color ease-in-out;
    border: var(--border-width) solid var(--border-color);
    border-radius: .5em;
    background-color: var(--background-color);
    padding: var(--gap);
    width: calc(1em + var(--knob-diameter));
    height: 1em;

    .knob {
        transition: var(--dui-duration-transition-medium) transform ease-in-out, var(--dui-duration-transition-medium) background-color ease-in-out;
        border-radius: calc(calc(1em - var(--gap) * 2) / 2);
        background-color: var(--knob-color);
        width: var(--knob-diameter);
        height: var(--knob-diameter);
    }

    &.on {
        background-color: var(--dui-color-accent);

        .knob {
            transform: translateX(100%);
        }
    }
}
