.header {
    display: flex;
    align-items: flex-start;
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    .heading-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-grow: 1;
        padding: 0;

        .heading {
            flex-grow: 1;
            padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
            line-height: 1;
        }

        .description {
            padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
        }
    }
}
