.header {
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    .heading-section {
        display: flex;
        align-items: center;
        overflow: auto;

        .heading-container {
            display: block;
            flex-grow: 1;
            padding: 0;
            overflow: auto;

            .heading {
                padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1;
                white-space: nowrap;
            }

            .description {
                padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
            }
        }
    }

    .content {
        padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
    }
}
