.hidden-options-count {
    display: flex;
    padding: var(--dui-spacing-medium);
    align-items: baseline;
    gap: var(--dui-spacing-medium);
}
.empty {
    padding: var(--dui-spacing-large);
    min-height: 2em;
    color: var(--dui-color-text-watermark);
}
.hidden-count-message {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}
.button {
    flex-shrink: 0;
    padding: 0;
}
