.list-view {
    &.vertical {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }

    &.empty {
        &.pending {
            min-height: calc(2em + var(--dui-spacing-medium) * 2);
        }
    }

    --spacing: var(--dui-spacing-medium);

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}
