.checkbox {
    --color-text: transparent;
    --color-checkmark: transparent;
    --spacing: var(--dui-spacing-small);

    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    color: var(--color-text);
    user-select: none;
    gap: var(--spacing);

    .checkmark {
        flex-shrink: 0;
        color: var(--color-checkmark);
        font-size: 1.11em;
    }

    .input {
        display: none;
    }

    &.light {
        --color-text: var(--dui-color-text-light);
        --color-checkmark: var(--dui-color-text-light);

        &.checked,
        &.indeterminate {
            --color-checkmark: var(--dui-color-accent);
        }

    }

    &.dark {
        --color-text: var(--dui-color-text-dark);
        --color-checkmark: var(--dui-color-text-dark);

        &.checked,
        &.indeterminate {
            --color-checkmark: var(--dui-color-accent);
        }

    }

    &.read-only {
        cursor: default;
        user-select: initial;
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        cursor: not-allowed;
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }
}
