/* TODO: Improve overrides */
/* TODO: Add support for darkmode */
.input-container {
    --color-background-input-section: var(--dui-color-background-input-section);
    --color-input-section-border: var(--dui-color-input-border);

    --height-border: var(--dui-width-separator-thin);

    --color-text-label: var(--dui-color-input-label);
    --color-text-label-active: var(--dui-color-input-label-active);

    --color-text: var(--dui-color-text);
    --opacity: 1;

    --disabled-opacity: var(--dui-opacity-disabled-element);
    opacity: var(--opacity);
    color: var(--color-text);

    &.light {
        --color-text: var(--dui-color-text);

        &.errored {
            --color-border-input-section: var(--dui-color-negative);
        }
    }

    &.dark {
        --color-text: var(--dui-color-text-on-dark);

        &.errored {
            --color-border-input-section: var(--dui-color-negative-on-dark);
        }
    }

    &.filled {
        --color-input-section-border: var(--dui-color-input-border-dark);
    }

    &.read-only {
        --color-background-input-section: transparent;
    }

    &.disabled {
        --opacity: var(--dui-opacity-disabled-element);
        --height-border: var(--dui-width-separator-thin);
        --color-input-section-border: var(--dui-color-input-border);
    }

    &:hover {
        --color-input-section-border: var(--dui-color-accent);

        &.read-only,
        &.disabled {
            --color-text-label: var(--dui-color-input-label);
            --color-input-section-border: var(--dui-color-input-border);
            --height-border: var(--dui-width-separator-thin);
        }
    }

    &.errored {
        --color-input-section-border: var(--dui-color-negative);
    }

    &:focus-within {
        --color-text-label: var(--dui-color-input-label-active);
        --box-shadow-color: var(--dui-color-accent);
        --height-border: var(--dui-width-separator-medium);
        --color-input-section-border: var(--dui-color-accent);

        &.errored {
            --color-input-section-border: var(--dui-color-negative);
        }

        &.read-only,
        &.disabled {
            --color-input-section-border: var(--dui-color-input-border);
            --height-border: var(--dui-width-separator-thin);
        }
    }

    .input-section {
        display: flex;
        position: relative;
        align-items: center;
        background-color: var(--color-background-input-section);
        padding: var(--dui-spacing-medium) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--dui-spacing-small);
        }

        .input {
            display: flex;
            align-items: center;
            flex-grow: 1;
            padding: 0 var(--dui-spacing-small);
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--dui-spacing-small);
        }

        .input-section-border {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--color-input-section-border);
            width: 100%;
            height: var(--height-border);
        }
    }
}
