/* TODO: Improve overrides */
/* TODO: Add support for darkmode */
.input-container {
    --color-background-input-section: var(--dui-color-background-input-section);
    --color-input-section-border: var(--dui-color-input-border);

    --height-border: var(--dui-width-separator-thin);

    --color-text-label: var(--dui-color-input-label);
    --color-text-label-active: var(--dui-color-input-label-active);

    --color-text: var(--dui-color-text);
    --opacity: 1;

    --disabled-opacity: var(--dui-opacity-disabled-element);
    --spacing: var(--dui-spacing-small);

    display: flex;
    flex-direction: column;
    opacity: var(--opacity);
    color: var(--color-text);
    gap: var(--spacing);

    &.light {
        --color-text: var(--dui-color-text);

        &.errored {
            --color-border-input-section: var(--dui-color-negative);
        }
    }

    &.dark {
        --color-text: var(--dui-color-text-on-dark);

        &.errored {
            --color-border-input-section: var(--dui-color-negative-on-dark);
        }
    }

    &.filled {
        --color-input-section-border: var(--dui-color-input-border-dark);
    }

    &.read-only {
        --color-background-input-section: transparent;
    }

    &.disabled {
        --opacity: var(--dui-opacity-disabled-element);
        --height-border: var(--dui-width-separator-thin);
        --color-input-section-border: var(--dui-color-input-border);
    }

    &:hover {
        --color-input-section-border: var(--dui-color-accent);

        &.read-only,
        &.disabled {
            --color-text-label: var(--dui-color-input-label);
            --color-input-section-border: var(--dui-color-input-border);
            --height-border: var(--dui-width-separator-thin);
        }
    }

    &.errored {
        --color-input-section-border: var(--dui-color-negative);
    }

    &:focus-within {
        --color-text-label: var(--dui-color-input-label-active);
        --box-shadow-color: var(--dui-color-accent);
        --height-border: var(--dui-width-separator-medium);
        --color-input-section-border: var(--dui-color-accent);

        &.errored {
            --color-input-section-border: var(--dui-color-negative);
        }

        &.read-only,
        &.disabled {
            --color-input-section-border: var(--dui-color-input-border);
            --height-border: var(--dui-width-separator-thin);
        }
    }

    .input-section {
        display: flex;
        position: relative;
        align-items: center;
        background-color: var(--color-background-input-section);

        .input-container {
            display: flex;

            >* {
                flex-grow: 1;
            }
        }

        .input-section-border {
            background-color: var(--color-input-section-border);
            height: var(--height-border);
        }
    }

    &.for-general-use {
        .input-section-border {
            display: none;
        }

        .input-section {
            border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            border-radius: 2em;
            background-color: var(--dui-color-background-information);
            padding: calc(var(--spacing) / 2) var(--spacing);
        }

        &:focus-within {
            .input-section {
                border-color: var(--dui-color-accent);
            }
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }
}
