.tab {
    --text-color: var(--dui-color-text);
    --active-text-color: transparent;
    --font-weight-bold: var(--dui-font-weight-bold);
    position: relative;

    border: 0;
    border-radius: 0;
    padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);

    &.ellipsize {
        overflow: auto;
    }

    &.disabled {
        pointer-events: none;
    }

    &.primary {
        &.active {
            --text-color: var(--dui-color-accent);
        }

        &.disabled {
            --text-color: var(--dui-color-text-disabled);
        }
    }

    &.secondary {
        --background-color: var(--dui-color-white);
        background-color: var(--background-color);

        &.active {
            --text-color: var(--dui-color-accent);
            --background-color: var(--dui-color-background-information);
        }

        &.disabled {
            --text-color: var(--dui-color-text-disabled);
        }
    }

    &.step {
        --background-color: var(--dui-color-white);
        --text-color: var(--dui-color-accent);
        position: relative;
        background-color: var(--background-color);

        &.active {
            --background-color: var(--dui-color-background-information);
        }

        &.disabled {
            --text-color: var(--dui-color-text-disabled);
        }
    }

    &:hover {
        &:not(.disabled) {
            background-color: var(--dui-color-background-hover);
        }
    }

    .ellipsize-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.border-wrapper {
    --offset: 12px;
    background-color: var(--dui-color-accent);
    clip-path: polygon(calc(100% - var(--offset)) 0%, 100% 50%, calc(100% - var(--offset)) 100%, 0% 100%, var(--offset) 50%, 0% 0%);
    padding: var(--dui-width-separator-thin);

    .step {
        clip-path: polygon(calc(100% - var(--offset)) 0%, 100% 50%, calc(100% - var(--offset)) 100%, 0% 100%, var(--offset) 50%, 0% 0%);
    }

    &:first-child {
        clip-path: polygon(calc(100% - var(--offset)) 0%, 100% 50%, calc(100% - var(--offset)) 100%, 0% 100%, 0% 0%);

        .step {
            clip-path: polygon(calc(100% - var(--offset)) 0%, 100% 50%, calc(100% - var(--offset)) 100%, 0% 100%, 0% 0%);
        }
    }

    &:last-child {
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, var(--offset) 50%, 0% 0%);

        .step {
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, var(--offset) 50%, 0% 0%);
        }
    }

    &:not(:first-child) {
        margin-left: calc(-1 * var(--offset) + var(--dui-width-separator-medium));
    }

    &.disabled {
        background-color: var(--dui-color-separator);
    }
}
