.tab {
    --text-color: var(--dui-color-text);
    --active-text-color: transparent;
    --font-weight-bold: var(--dui-font-weight-bold);

    border: 0;
    border-radius: 0;
    padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);

    &.disabled {
        pointer-events: none;
    }

    &.primary-tab {
        --color-separator: var(--dui-color-separator);
        border-bottom: var(--dui-width-separator-medium) solid var(--color-separator);

        &.active {
            --color-separator: var(--dui-color-accent);
            --text-color: var(--dui-color-accent);
        }

        &.disabled {
            --text-color: var(--dui-color-text-disabled);
            --color-separator: var(--dui-color-separator);
        }
    }

    &.secondary-tab {
        --background-color: var(--dui-color-white);
        background-color: var(--background-color);

        &.active {
            --text-color: var(--dui-color-accent);
            --background-color: var(--dui-color-background-information);
        }

        &.disabled {
            --text-color: var(--dui-color-text-disabled);
        }
    }
}
