.expandable-container {
    background-color: var(--dui-color-foreground);
    padding: 0;

    .header {
        border: var(--dui-width-separator-thin) solid var(--dui-color-accent);
        background-color: var(--dui-color-background-information);
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-large) - var(--dui-spacing-small));

        .heading-container {
            display: flex;

            .heading {
                color: var(--dui-color-accent);
            }
        }

        .icon {
            color: var(--dui-color-accent);
            font-size: 1.2em;
        }

        &.clickable-header {
            cursor: pointer;
        }
    }

    .content {
        display: none;
        border: var(--dui-width-separator-thin) solid var(--dui-color-grey6);
        border-top: none;
        border-bottom-left-radius: var(--dui-border-radius-card);
        border-bottom-right-radius: var(--dui-border-radius-card);
        padding: var(--dui-spacing-medium) var(--dui-spacing-large);

        &.visible {
            display: block;
        }
    }
}

