.quick-action-group {
    --spacing: var(--dui-spacing-small);
    display: flex;
    align-items: center;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator-info);
    border-radius: calc(1em + 2 * var(--dui-spacing-extra-small));
    padding: calc(var(--spacing) / 2) var(--spacing);
    gap: calc(var(--spacing) / 2);

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }
}
