.pending-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dui-color-backdrop);
    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small));
    animation: appear var(--dui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--dui-duration-delay-medium);
    color: var(--dui-color-text-message);

    &.no-debouncing {
        animation-delay: unset;
    }

    .icon {
        padding: var(--dui-spacing-small);
    }

    .message {
        padding: var(--dui-spacing-small);
    }

    &.compact {
        flex-direction: row;
        justify-content: flex-start;
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
    }
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}
