.option {
    display: flex;
    align-items: center;
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small));
    overflow: auto;

    .icon {
        display: flex;
        align-items: center;
        opacity: 0;
        font-size: 1.2em;
    }

    .label {
        display: flex;
        overflow: auto;

        .text {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &.active {
        color: var(--dui-color-accent);

        .icon {
            opacity: 1;
        }
    }

    &:hover {
        background-color: var(--dui-color-background-information);
    }
}
