.icons {
    display: flex;
    align-items: center;
    padding: var(--dui-spacing-extra-small) calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small));

    >* {
        flex-shrink: 0;
        margin: 0 var(--dui-spacing-extra-small);
    }
}
