.icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    >* {
        margin: var(--dui-spacing-small);
    }
}
