.border {
    --border-width: var(--dui-width-separator-medium);
    --spacing: var(--dui-spacing-medium);

    position: relative;
    background-color: var(--dui-color-separator);
    width: 100%;
    height: var(--border-width);
    --animation-name: grow-h;

    &.absolutely-positioned {
        position: absolute;
        top: unset;
        right: unset;
        bottom: 0;
        left: 0;

        &.top {
            top: 0;
            right: unset;
            bottom: unset;
            left: 0;
        }

        &.left {
            top: 0;
            right: unset;
            bottom: unset;
            left: 0;
            width: var(--border-width);
            height: 100%;
            --animation-name: grow-v;

            &.full-width-active-border {
                --animation-name: grow-v-full-width;
            }
        }

        &.right {
            top: 0;
            right: 0;
            bottom: unset;
            left: unset;
            width: var(--border-width);
            height: 100%;
            --animation-name: grow-v;

            &.full-width-active-border {
                --animation-name: grow-v-full-width;
            }
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;

        .active-border {
            background-color: var(--dui-color-accent);
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            animation: var(--animation-name) var(--dui-duration-transition-medium) ease-in forwards;
        }

        &.full-width-active-border {
            .active-border {
                --animation-name: grow-h-full-width;
            }
        }

        &.disabled {
            .active-border {
                opacity: var(--dui-opacity-disabled-element);
                filter: saturate(var(--dui-saturation-disabled-element));
            }
        }
    }

    &.thin {
        --border-width: var(--dui-width-separator-thin);
    }

    &.medium {
        --border-width: var(--dui-width-separator-medium);
    }

    &.thick {
        --border-width: var(--dui-width-separator-thick);
    }

    &.dense {
        --border-width: var(--dui-width-separator-dense);
    }

    /* NOTE: this assumes border to be in horizontal direction */
    &.extend-to-spacing {
        &::before {
            position: absolute;
            left: calc(-1 * var(--spacing));
            background-color: var(--dui-color-separator);
            width: var(--spacing);
            height: var(--border-width);
            content: '';
        }

        &::after {
            position: absolute;
            right: calc(-1 * var(--spacing));
            background-color: var(--dui-color-separator);
            width: var(--spacing);
            height: var(--border-width);
            content: '';
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-medium);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-large);
    }
}

@keyframes grow-h {
    from {
        width: 0;
    }

    to {
        width: var(--dui-width-active-border);
    }
}

@keyframes grow-h-full-width {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes grow-v {
    from {
        height: 0;
    }

    to {
        height: var(--dui-width-active-border);
    }
}

@keyframes grow-v-full-width {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}
