.list {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--dui-spacing-small);

        .button {
            color: var(--dui-color-danger);
        }
    }
}
