.list {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--dui-spacing-small);

        .label {
            padding: var(--dui-spacing-extra-small);
        }

        .remove-button {
            padding: var(--dui-spacing-extra-small);
            color: var(--dui-color-danger);
        }

        &:hover {
            background-color: var(--dui-color-background-hover);
        }
    }
}
