.actions {
    --spacing: var(--dui-spacing-small);

    display: flex;
    align-items: center;
    gap: var(--spacing);

    >* {
        flex-shrink: 0;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.allow-shrink {
        >* {
            flex-shrink: initial;
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }
}
