.link {
    --color: transparent;
    --decoration: none;
    --spacing: var(--dui-spacing-small);

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    text-decoration: var(--decoration);
    color: var(--color);
    gap: var(--spacing);

    &:not(.disabled) {
        --color: var(--dui-color-accent);
        cursor: pointer;

        &:hover {
            --color: var(--dui-color-complement1);
            --decoration: underline;
        }
    }

    &.disabled {
        pointer-events: none;
    }

    .icons {
        flex-shrink: 0;
    }

    .actions {
        flex-shrink: 0;
    }

    .link-element {
        display: flex;
        align-items: center;
        flex-grow: 1;
        text-transform: none;
        text-decoration: none;
        color: inherit;
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--dui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--dui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--dui-spacing-medium);
    }
}
