.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--dui-spacing-medium);
    text-align: center;
    color: var(--dui-color-text-message);
    gap: var(--dui-spacing-medium);

    .icon-container {
        display: flex;
        align-items: center;
        font-size: 3em;
    }

    &.compact {
        align-items: initial;
        flex-direction: row;
        justify-content: flex-start;

        .icon-container {
            font-size: 1em;
        }
    }
}
